<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
	<div style="padding:10px">
		<h3>관리자 홈</h3>
		<hr />

        <div th:if="${user == null}">
            <h3> 로그인 전 </h3>
            <a th:href="@{/api/member/login}">로그인</a>
            <a th:href="@{/api/member/join}">로그아웃</a>
            <hr />
        </div>
        
        <div th:if="${user != null}">
            <h3> 로그인 후 </h3>
            <p th:text="|${user.uid} 님 로그인|"></p>
            
            <form th:action="@{/api/member/logout}" method="post">
                <input type="submit" value="로그아웃" />
            </form>
        </div>
</body>
</html>