* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GmarketSansMedium";
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}

.password {
    margin-bottom: 20px;
}

.main>h3 {
    font-size: 26px;
    margin-bottom: 40px;
}

.new>.password {
    /* border: 1px solid black; */
    width: 100%;

}

.new {
    display: flex;
}

.password>input {
    width: 45%;
    padding: 10px;
    border: 1px solid #d9d9d9;
    padding-top: 13px;
    color: #808080;
    border-radius: 4px;
    /* display: flex;
    align-items: center; */
}

.password> form >input {
    width: 45%;
    padding: 10px;
    border: 1px solid #d9d9d9;
    padding-top: 13px;
    color: #808080;
    border-radius: 4px;
    /* display: flex;
    align-items: center; */
}

.new>.password>input {
    width: 90%;
    padding: 10px;
    padding-top: 13px;
    color: #808080;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
.new>.password>form>input {
    width: 90%;
    padding: 10px;
    padding-top: 13px;
    color: #808080;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.btn {
    padding: 10px;
    width: 20%;
    background-color: #3476D8;
    color: #fff;
    margin: 0 auto;
    margin-top: 25px;
}