*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GmarketSansMedium";
}

.main{
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
}

.main > header > h3{
    font-size: 26px;
    margin-bottom: 40px;
}

.main > header > p{
    
    margin-bottom: 25px;
}

.hr{
    color:#808080;
    border: 1px solid;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 50px;
}

section > .left{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile_box{
    width: 150px;
    height: 150px;
    border: 1px solid #808080;
    margin: 0 auto;
    position: relative;
}

.profile_box > img{
    width: 100%;
    height: 100%;
    /* border: 1px solid #808080; */
    border-radius: 180px;
    object-fit: cover;
    margin-bottom: 10px;
}

.btn{
    display: inline-block;
    width: 150px;
    background-color : transparent;
    color: #3476d8;
    border: 1px solid #3476d8;
    margin: 0 auto;
}

section > .right{
    width: 75%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

label{
    width: 80px;
    display: inline-block;
    font-size: 13px;
    margin-right: 20px;

}
.right_detail{
    padding: 15px;
    display: flex;
    align-items: center;
    width: 100%;
    /* position: relative; */
}
.name{
    padding-top: 0;
}


.right_input{
    
    border: 1px solid black;
    border-color: #eee;
    background: #f4f4f4;
    color: #adadad;
    color: #333333;
    padding : 0 15px;
    height: 42px;
    width: 100%
}
.detail2{
    display: inline-block;
    width: calc(100% -85px);
    /* padding-right: -10px; */
    /* margin-right: 10px; */
}

.ddd{
    width: 100%;
}


.right_btn{
    /* position: absolute;
    display: inline-block; */
    margin-left: 8px;
    width: 67px;   
}

::v-deep .v-btn--variant-contained{
    box-shadow:0 !important;
}

.ddd{
    display: flex;
    align-items: center;

}

.toggle{
    display: none;
}

.save_btn{
    width: 150px; 
    height: 40px;
    margin-top: 30px; 
    background-color: #3476d8;
    color: #fff;
}
.close_box{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #fff;
    border: 1px solid #333;
    position: absolute;
    right: -15px;
    top:-15px;
    cursor: pointer;
}

.close_box > img{
    width: 100%;
    height: 100%;
}