*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GmarketSansMedium";
}

.main{
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
}

.main > header > h3{
    font-size: 26px;
    margin-bottom: 25px;
}

.main > header > p{
    
    margin-bottom: 25px;
}

.hr{
    color:#808080;
    border: 1px solid;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 50px;
}

section > .left{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_box{
    width: 150px;
    height: 150px;
    border: 1px solid #808080;
    margin: 0 auto;
}

.profile_box > img{
    width: 100%;
    height: 100%;
    /* border: 1px solid #808080; */
    border-radius: 180px;
    object-fit: cover;
    margin-bottom: 10px;
}

.btn{
    display: inline-block;
    width: 150px;
    background-color : transparent;
    color: #3476d8;
    border: 1px solid #3476d8;
    margin: 0 auto;
}

section > .right{
    width: 75%;
    height: 100%;
    background-color: blueviolet;
}

label{
    width: 120px;
    display: inline-block;

}