*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GmarketSansMedium";
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
}

aside{
    width: 20%;
    height: 100%;
    /* background-color: rgb(179, 221, 221); */
}

section{
    width: 80%;
    height: 100%;
    /* background-color: rgb(206, 158, 158); */
    padding: 30px;
}

.box{
    padding: 20px;
}

.box > .box_list {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-out;
}

.box > .box_list > .drop_menu{
    
    transform: translateY(-10px);
    overflow: hidden;
    position: absolute;
    opacity: 0;
    /* display: none; */
    transition: all 0.4s ease-out;
    /* position: absolute; */
    
}

.box > .box_list > .drop_menu.active {
    transform: translateY(10px);
    position: relative; 
    opacity: 1;
    /* display: block; */
    transition: all 0.4s ease-out;
    margin-bottom: 10px;

}


.box > .box_list > .drop_menu > ul{
    display: flex;
    flex-direction: column;
}

.box > .box_list > .drop_menu > ul > li{
    padding: 3px;
    cursor: pointer;
    color: #808080;
    z-index: 999;
}

.box > .box_list > .drop_menu> ul >li:hover{
    color: black;
}

.box > .box_list > .box_list_head{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.box > .box_list > .box_list_head >.drop{
    width: 25px;
}

.box > .box_list > .box_list_head >.drop{
    width: 25px;
}
