*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "GmarketSansMedium";
}

.main {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}


.main>h3 {
    font-size: 26px;
    margin-bottom: 40px;
}

.main >  p{
    
    margin-bottom: 25px;
}

header{
    width: 100%;
    height: 130px;
    background-color: rgb(249, 250, 251);
    margin-bottom: 16px;
    padding: 16px 19px;
    display: flex;
}
header > .header_1{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgb(219 222 226) 1px 0px 0px 0px;
}
header > .header_2{
    width: 25%;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgb(219 222 226) 1px 0px 0px 0px;
}
header > .header_3{
    width: 25%;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgb(219 222 226) 1px 0px 0px 0px;
}
header > .header_4{
    width: 25%;    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_icon{
    width: 50px;
    height: 50px;
    background-color: rgb(219, 222, 226);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-icon{
    font-size: 30px;
    color: #fff;
}

header > .header_1 > p,
header > .header_2 > p,
header > .header_3 > p,
header > .header_4 > p{
    color: rgb(170, 177, 188);;
}
.count{
    display: flex;
    flex-direction: column;
}

/* 내역이 없는 경우 */
section{
    width: 100%;
    height: 500px;
    background-color: rgb(249, 250, 251);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.btn{
    color: #fff;
    background-color: #3476d8;
    padding: 20px 40px;
}
.btn_a{
    color: #fff;
    background-color: #3476d8;
    /* padding: 20px 40px; */
}
.p1{
    font-size: 15px;
    color: #3476d8;
    margin: 10px;
}
.p2{
    font-size: 15px;
    margin-bottom: 20px;
}

/* 내역이 있는 경우 */
.not_empty{
    width: 100%;
}
.box{
    width: 100%;
    height: 200px;
    background-color: rgb(249, 250, 251);
    position: relative;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
}

.box > h5{
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 20px;
}
.box> .left{
    width: 20%;
    height: 100%;
    /* background-color: #3476d8; */
    display: flex;
    
    align-items: center;
}

.box > .left > .img_box{
    width: 120px;
    height: 120px;
    /* background-color: #fff; */
    margin-top: 20px;
}

.box > .left > .img_box > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box > .center{
    
    width: 60%;
    height: 100%;
    display: flex;
    
    /* background-color: #435a7e; */
    position: relative;
}

.center > .center_left{
    width: 50%;
    height: 100%;
    /* box-shadow: rgb(219 222 226) 1px 0px 0px 0px; */
}

.center_left > .title {
    padding-top: 50px;
    font-size: 20px;
    color: #3476d8;
}
.center > .center_right{
    margin-left: 5%;
    width: 37%;
    height: 100%;
    position: relative;    
    /* box-shadow: rgb(219 222 226) 1px 0px 0px 0px; */
}

.center_right > h5{
    position: absolute;
    top: 40px;
    left: -60px;
    font-size: 20px;
}

.box > .right{
    
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.center_right > .done{
    padding-top: 40px;
}

.box > .right> .right_half{
    
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right >.right_half> .chat{
    border: 1px solid #3476d8;
    color: #3476d8;
}

.right > .cancel{

}

.writereview{
    border: 1px solid #3476d8;
    color: #3476d8;
}

/* .off{
    color: black;
} */